{% extends "base.html" %}
{% block content %}
<div class="container top">


<div class="row">
    <div class="leftcontent  col-6 ">
      <div class="image">

      </div>
    </div>
    <div class="rightcontent col-6 ">
      <div class="content">
        <div class="name">por René Manzano</div>
        <h1 class="tagline fonta"><strong class="bold-text fonta">Geomática. Programación.</strong></h1>
        <p class="bio biofont"> Hola, Que tal! Espero se encuentren bien, mi nombre es René Manzano. Soy ingeniero Geomático por parte de la UNAM, tengo una maestría en ciencias de la Tierra con especialidad en física espacial y actualmente soy estudiante de doctorado y profesor asistente en la Universidad de Calgary en Canadá.
          Mi linea de investigación es geodesia satelital. Soy exprofesor de la Facultad de Ingeniería en la UNAM y he laborado en el sector gubernamental principalmente automatizando procesos geoinformaticos. A largo de mi trayectoria profesional, me he involucrado en diversos temas de programación, siendo la automatización
          de procesos relacionados con geoinformación una de mis tareas favoritas. He creado este espacio "Geompro" para unir a la comunidad de gente interesada en el tema y haya intercambio de material y conocimiento relacionado con este. Subo videos semanalmente a mi página de Youtube con tutoriales breves de como programar algunos procesos o simplemente compartir información. </p>
        <div class="links w-row">
          <div class="column w-col w-col-4">
            <div class="text-block-2">Connect</div>
            <ul role="list" class="list w-list-unstyled">
              <li>
                <a class="azul" href="#">Blog</a>
              </li>
              <li>
                <a class="azul" href="mailto:roberto.manzanoislas@ucalgary.ca">Email</a>
              </li>
              <li>
                <a class="azul" href="#">Foro</a>
              </li>
            </ul>
          </div>
          <div class="column-2 w-col w-col-4">
            <div class="text-block-2">social</div>
            <ul role="list" class="list w-list-unstyled">
              <li>
                <a class="azul" href="https://www.facebook.com/renei2">Facebook</a>
              </li>
              <li>
                <a class="azul" href="https://www.youtube.com/channel/UCVoDZxcI_TxSJcCs1gb4vyg">Youtube</a>
              </li>
              <li>
                <a class="azul" href="https://www.instagram.com/renemanzanoislas90/">Instagram</a>
              </li>
            </ul>
          </div>
          <div class="w-col w-col-4">
            <div class="text-block-2">network</div>
            <ul role="list" class="list w-list-unstyled">
              <li>
                <a class="azul" href="https://www.linkedin.com/in/rené-manzano-b72a0996">Linkedin</a>
              </li>
              <li>
                <a class="azul" href="https://https://github.com/Rene90">Github</a>
              </li>
              <li>
                <a class="azul" href="https://bitbucket.org/Rene9012/">Bitbucket</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock%}
